@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

.btn {
    padding: 16px 24px 16px 24px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 6px;
    background: rgb(82, 195, 3);
    border: none;
}

.btn-fix {
    text-align: center;
}

#hero {
    height: 778px;
    background: linear-gradient(0deg, rgb(9, 9, 9) 2.884%, rgba(16, 16, 16, 0) 101.034%), url(/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content {
    width: 767px;
}

#hero .hero-content .subtitle {
    opacity: 0.8;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.5px;
    letter-spacing: 0%;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 12px 0px;
}

#hero .hero-content .title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 12px 0px;
}

#hero .hero-content .dis {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 13.5px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 18px 0px;
}

#card-box {
    width: 990px;
    margin: 110px auto;
}

#card-box .container .subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}

#card-box .container .title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

#card-box .container .card-container {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#card-box .container .card-container .card {
    max-width: 318px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.card .pizza-box {
    width: 318px;
}

.card .pizza-box img {
    width: 100%;
}

.card .shop {
    border-radius: 6px;
    background: rgba(82, 195, 3, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 11px 24px 11px 24px;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
}

.card h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24;
    padding: 0px;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
}

.card p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24;
    padding: 0px;
    opacity: 0.7;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
}